@import url("https://fonts.googleapis.com/css2? family= Noto+Sans:wght@100 & display=swap");
@import url("https://fonts.googleapis.com/css2? family= Oxygen:wght@300 & display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #f6f8f9;
}

body {
  background-color: #100e0e;
}

.navbar-brand {
  cursor: pointer;
}
.navbar-brand img {
  width: 80%;
  padding-left: 80px;
}

.navbar-collapse {
  display: flex;
  justify-content: end;
  padding-right: 110px;
}

.nav-link {
  animation: bounce-in-bottom 1.1s both;
}

.nav-link1 {
  animation-delay: 1seg;
}

.nav-link2 {
  animation-delay: 2seg;
}

.nav-link3 {
  animation-delay: 3seg;
}

.nav-link4 {
  animation-delay: 4seg;
}

.nav-link5 {
  animation-delay: 5seg;
}

@keyframes bounce-in-bottom {
  0% {
    transform: translateY(500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
.imagen-principal {
  background-color: transparent;
}
.imagen-principal img {
  padding-left: 100px;
}
.imagen-principal h1 {
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 6px;
  margin-top: -120px;
  padding-left: 100px;
  background-color: transparent;
}
.imagen-principal p {
  font-family: "Oxygen", sans-serif;
  letter-spacing: 3px;
  padding-left: 100px;
  background-color: transparent;
}

.linea-superior {
  border-top: rgba(143, 138, 138, 0.8705882353) solid 1.5px;
  margin-right: 100px;
  margin-left: 100px;
}

.grid {
  width: 92%;
  padding-left: 100px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 0.7fr 1.5fr 0.5 0.3fr;
  grid-template-areas: "box1    .      . " "box2   box3   box4" "box5   box3   box4" "box5    .        .";
}
.grid .box img {
  width: 100%;
}
.grid .box.box1 {
  grid-area: box1;
  padding-top: 60px;
  padding-left: 80px;
}
.grid .box.box1 h1 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 50px;
  letter-spacing: 5px;
  font-weight: 600;
}
.grid .box.box2 {
  grid-area: box2;
  padding-right: 50px;
  padding-top: 60px;
  padding-left: 30px;
}
.grid .box.box2 p {
  font-size: 16px;
  font-weight: 100;
  font-family: "Oxygen", sans-serif;
  line-height: 24px;
}
.grid .box.box3 {
  grid-area: box3;
  padding: 50px 10px 40px 40px;
  background-color: #191919;
}
.grid .box.box3 h4 {
  font-family: "Oxygen", sans-serif;
  font-size: 16px;
  color: #f6f8f9;
  padding-top: 10px;
  line-height: 20px;
  font-weight: 300;
  background-color: #191919;
}
.grid .box.box4 {
  grid-area: box4;
  padding: 50px 40px 40px 10px;
  background-color: #191919;
}
.grid .box.box4 h4 {
  font-family: "Oxygen", sans-serif;
  font-size: 16px;
  color: #f6f8f9;
  padding-top: 10px;
  line-height: 20px;
  font-weight: 300;
  background-color: #191919;
}
.grid .box.box5 {
  grid-area: box5;
  background-color: rgba(117, 114, 114, 0.8705882353);
  height: 1.4px;
  width: 1%;
  margin-left: 20px;
  animation-name: lineaMovimiento;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes lineaMovimiento {
  100% {
    width: 90%;
  }
}
.linea-superior {
  border-top: rgba(93, 90, 90, 0.87) solid 0.5px;
  margin-right: 100px;
  margin-left: 100px;
}

.titulo-servicios {
  padding-top: 60px;
  padding-left: 80px;
  margin-right: 1000px;
  margin-left: 100px;
}
.titulo-servicios h1 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 50px;
  letter-spacing: 5px;
  font-weight: 600;
}

.contenedores {
  display: flex;
  padding-left: 100px;
  margin-right: 90px;
}
.contenedores .contenedor {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding-top: 50px;
}
.contenedores .contenedor img {
  width: 90%;
}
.contenedores .contenedor h6 {
  font-family: "Oxygen", sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  text-align: center;
}
.contenedores .contenedor p {
  font-family: "Oxygen", sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  width: 75%;
}

.linea-superior {
  border-top: rgba(93, 90, 90, 0.87) solid 0.5px;
  margin-right: 100px;
  margin-left: 100px;
}

.titulo-proyectos {
  padding-top: 60px;
  padding-left: 100px;
  margin-right: 90px;
  margin-left: 80px;
  padding-bottom: 5px;
}
.titulo-proyectos h1 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 50px;
  letter-spacing: 5px;
  font-weight: 600;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
}
.container .row img {
  width: 95%;
}
.container .row .obra-titulo {
  position: absolute;
  top: 0;
  bottom: -16px;
  left: 10px;
  right: 32px;
  background-color: hsla(0, 0%, 1%, 0.489);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  visibility: hidden;
}
.container .row .obra-titulo p {
  font-family: "Oxygen", sans-serif;
  font-size: 20px;
  color: #f6f8f9;
}
.container .row .obra {
  transition: all 300ms;
  position: relative;
}
.container .row .obra:hover {
  transform: scale(1.1);
  background-color: transparent;
}
.container .row .obra:hover .obra-titulo {
  opacity: 1;
  visibility: visible;
}

.grid-contacto {
  padding-left: 100px;
  width: 92%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.6fr 0.8fr 0.2fr;
  grid-template-areas: "zona-titulo   zona-formulario" "zona-titulo    zona-formulario" "zona-titulo      zona-mapa";
}
.grid-contacto .zona-titulo {
  grid-area: zona-titulo;
  padding-bottom: 20px;
  background-image: url(../imagenes/imagen_contacto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}
.grid-contacto .zona-titulo h1 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 50px;
  letter-spacing: 5px;
  font-weight: 600;
  padding-top: 80px;
  padding-left: 80px;
  margin-right: 90px;
  background-color: transparent;
}
.grid-contacto .zona-titulo::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4705882353);
  z-index: -1;
}
.grid-contacto .zona-formulario {
  grid-area: zona-formulario;
  padding: 140px 100px;
  border: none;
}
.grid-contacto .zona-formulario .campo {
  font-family: "Oxygen", sans-serif;
  font-size: 15px;
  letter-spacing: 1.5px;
  font-weight: 300;
  width: 100%;
  border: none;
  border-bottom: 1px solid hsl(0, 1%, 46%);
  outline: none;
  padding-bottom: 10px;
  padding-top: 50px;
  background-color: #100e0e;
}
.grid-contacto .zona-formulario .enviar {
  font-family: "Oxygen", sans-serif;
  font-size: 15px;
  letter-spacing: 1.5px;
  font-weight: 300;
  border: 1px solid hsl(0, 1%, 46%);
  padding: 10px 10px 10px 10px;
  margin: 30px 0px 0px 400px;
  background-color: #100e0e;
  cursor: pointer;
}
.grid-contacto .zona-mapa {
  grid-area: zona-mapa;
  padding-left: 100px;
  padding-bottom: 30px;
}

footer {
  padding-top: 50px;
  margin-left: 98px;
  margin-right: 98px;
}
footer .logo1 {
  width: 200px;
  padding-top: 20px;
  padding-left: 30px;
}
footer .contenedor-footer {
  display: flex;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 40px;
  align-items: flex-end;
}
footer .contenedor-footer .informacion {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}
footer .contenedor-footer .informacion p {
  font-family: "Oxygen", sans-serif;
  font-size: 13px;
  margin-bottom: 0px;
  padding-bottom: 4px;
}
footer .contenedor-footer .informacion.info1 {
  text-align: left;
}
footer .contenedor-footer .informacion.info2 {
  text-align: end;
}
footer .linea-footer {
  border-top: rgba(93, 90, 90, 0.87) solid 0.5px;
  width: 97%;
  margin-left: 20px;
}
footer .barra-rrss {
  height: 70px;
  justify-content: end;
  display: flex;
  gap: 20px;
  padding-right: 30px;
}
footer .barra-rrss .redes-sociales {
  display: flex;
  padding-bottom: 30px;
  width: 40px;
}

@media screen and (max-width: 768px) {
  /* header */
  .navbar-brand img {
    margin-right: 0px;
    padding-left: 0px;
  }
  .navbar-toggler img {
    padding: 0px;
    margin-right: 140px;
  }
  .navbar-nav {
    font-size: 20px;
  }
  /* index */
  .imagen-principal img {
    padding-left: 0px;
  }
  .imagen-principal img .slide img {
    height: 60vh;
  }
  .imagen-principal h1 {
    padding-top: 80px;
    padding-left: 0px;
  }
  .imagen-principal p {
    padding-left: 0px;
  }
  /* footer */
  footer {
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
  }
  footer .logo1 {
    padding-left: 0px;
  }
  footer .contenedor-footer {
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
  }
  footer .contenedor-footer .informacion {
    width: 100%;
  }
  footer .contenedor-footer .informacion p {
    font-size: 18px;
    text-align: center;
  }
  footer .contenedor-footer .informacion.info1 p {
    font-size: 20px;
    padding-bottom: 50px;
  }
  footer .linea-footer {
    margin: 0px;
  }
  footer .barra-rrss {
    justify-content: center;
    padding-right: 0px;
  }
  .linea-superior {
    margin: 0px;
  }
  /* nosotros */
  .grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    align-items: center;
  }
  .grid .box {
    width: 80%;
    align-items: center;
    margin: 0px;
  }
  .grid .box h4 {
    font-size: 18px;
  }
  .grid .box.box1 h1 {
    margin-left: -60px;
    font-size: 40px;
  }
  .grid .box.box2 {
    padding-left: 0px;
    padding-right: 15px;
  }
  .grid .box.box2 p {
    font-size: 18px;
  }
  .grid .box.box4 {
    width: 80%;
    padding-left: 40px;
    padding-bottom: 20px;
    order: 2;
  }
  .grid .box.box3 {
    width: 80%;
    padding-right: 40px;
    padding-bottom: 20px;
  }
  .grid .box.box5 {
    max-width: 80%;
    order: 0;
    margin-left: 0px;
    margin-right: 0px;
  }
  @keyframes lineaMovimiento {
    100% {
      width: 77%;
    }
  }
  /* servicios */
  .titulo-servicios h1 {
    margin-left: -100px;
    font-size: 40px;
  }
  .contenedores {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .contenedores .contenedor p {
    width: 100%;
  }
  .contenedores .contenedor img {
    width: 100%;
  }
  /* proyectos */
  .titulo-proyectos h1 {
    margin-left: -100px;
    font-size: 40px;
  }
  .row {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-content: center;
  }
  .row .col-md-4 {
    flex-direction: column;
    width: 95%;
    margin-left: 20px;
  }
  /* contacto */
  .grid-contacto {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
  }
  .grid-contacto .zona {
    margin: 0px;
    padding: 0px;
  }
  .grid-contacto .zona-titulo h1 {
    padding-bottom: 100%;
    font-size: 40px;
    margin-left: 0px;
    padding-left: 70px;
  }
  .grid-contacto .zona-formulario {
    padding-left: 80px;
    padding-top: 40px;
    padding-bottom: 90px;
  }
  .grid-contacto .zona-formulario .campo {
    width: 80%;
  }
  .grid-contacto .zona-formulario .enviar {
    margin: 0px;
    margin-top: 20px;
  }
  .grid-contacto .zona-mapa {
    padding-left: 80px;
    margin: 0px;
  }
  .grid-contacto .zona-mapa iframe {
    width: 83%;
  }
}
@media screen and (max-width: 500px) {
  /* header */
  /* index */
  .imagen-principal img .slide img {
    height: 30vh;
  }
  .imagen-principal h1 {
    padding-top: 100px;
  }
  /*footer*/
  .info1 p {
    padding-left: 10px;
    padding-right: 10px;
  }
  /*pagina nosotros*/
  /*pagina servicios*/
  .contenedores {
    padding-left: 30px;
    padding-right: 30px;
  }
  /*pagina proyectos*/
  /*pagina contacto*/
  .zona-formulario {
    padding-left: 45px;
  }
  .zona-formulario .campo {
    width: 85%;
  }
  .zona-mapa {
    padding-left: 30px;
  }
  .zona-mapa iframe {
    width: 85%;
  }
}/*# sourceMappingURL=estilo.css.map */