@import url('https://fonts.googleapis.com/css2? family= Noto+Sans:wght@100 & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Oxygen:wght@300 & display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #100e0e;
}

/* barra de navegacion "nav"*/
.navbar-brand {
    cursor: default;
}

.navbar-brand img {
    width: 80%;
    padding-left: 80px;
}

.navbar-collapse {
    display: flex;
    justify-content: end;
    padding-right: 110px;
}


/*pagina index*/
.imagen-principal {
    background-color: transparent;
}

.imagen-principal img {
    padding-left: 100px;
}

.imagen-principal h1 {
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 6px;
    margin-top: -120px;
    padding-left: 100px;
    background-color: transparent;
}

.imagen-principal p {
    font-family: 'Oxygen', sans-serif;
    letter-spacing: 3px;
    padding-left: 100px;
    background-color: transparent;
}


/*footer*/
footer {
    padding-top: 50px;
    margin-left: 98px;
    margin-right: 98px;
}

.logo1 {
    width: 200px;
    padding-top: 20px;
    padding-left: 30px;
}

.contenedor-footer {
    display: flex;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 40px;
    align-items: flex-end;
    /*border: 1px solid rgb(92, 216, 25);*/
}

.informacion {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    /* border: 1px solid rgb(105, 25, 216);*/
}

.informacion p {
    color: #ffffffe0;
    font-family: 'Oxygen', sans-serif;
    font-size: 13px;
    margin-bottom: 0px;
    padding-bottom: 4px;
    /* border: 1px solid rgb(216, 25, 130);*/
}

.info1 {
    text-align: left;
}

.info2 {
    text-align: end;
}

.alineacion-footer-index {
    text-align: end;
}

.linea-footer {
    border-top: rgba(93, 90, 90, 0.87) solid .5px;
    width: 97%;
    margin-left: 20px;
}

.barra-rrss {
    height: 70px;
    justify-content: end;
    display: flex;
    gap: 20px;
    padding-right: 50px;
    /* border: 1px solid hsl(132, 79%, 47%);*/
}

.redes-sociales {
    display: flex;
    padding-bottom: 30px;
}

.linea-superior {
    border-top: #8f8a8ade solid 1.5px;
    margin-right: 100px;
    margin-left: 100px;
}

/*pagina nosotros*/
.grid {
    width: 92%;
    padding-left: 100px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: .7fr 1.5fr .5 .3fr;
    grid-template-areas:
        "box1    .      . "
        "box2   box3   box4"
        "box5   box3   box4"
        "box5    .        .";
    /* border: 1px solid hsl(132, 79%, 47%);*/
}

.box img {
    width: 100%;
}

.box h4 {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    color: #ffffffe0;
    padding-top: 10px;
    line-height: 20px;
    font-weight: 300;
}

.box1 h1 {
    grid-area: box1;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 50px;
    color: #f6f8f9;
    letter-spacing: 5px;
    font-weight: 600;
    padding-top: 60px;
    padding-left: 80px;
    margin-right: 90px;
    /*border: 1px solid #ced819;*/
}

.box2 {
    grid-area: box2;
    color: #ffffffe0;
    font-size: 16px;
    font-weight: 100;
    font-family: 'Oxygen', sans-serif;
    line-height: 24px;
    padding-right: 50px;
    padding-top: 60px;
    padding-left: 30px;
    /* border: 1px solid #ed9d1c;*/
}

.box3 {
    grid-area: box3;
    padding: 50px 10px 40px 40px;
    background-color: #191919;
    /*  border: 1px solid hsl(335, 79%, 47%);*/
}

.box4 {
    grid-area: box4;
    padding: 50px 40px 40px 10px;
    background-color: #191919;
    /* border: 1px solid hwb(196 10% 16%);*/
}

.box5 {
    grid-area: box5;
    background-color: #757272de;
    height: 1.4px;
    max-width: 600px;
    margin-left: 20px;
    animation-name: lineaMovimiento;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    /* border: 1px solid hwb(0 10% 16%); */
}
@keyframes lineaMovimiento {
    100% {
        width: 90%;
    }
}


/*pagina servicios*/
.titulo-servicios h1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 50px;
    color: #f6f8f9;
    letter-spacing: 5px;
    font-weight: 600;
    padding-top: 60px;
    padding-left: 80px;
    margin-right: 1000px;
    margin-left: 100px;
}

.contenedores {
    display: flex;
    padding-left: 100px;
    margin-right: 90px;
    /*  border: 1px solid #d81923;*/
}

.contenedor {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-top: 50px;
    /*  border: 1px solid #192fd8;*/
}

.contenedor img {
    width: 90%;
}

.contenedor h6 {
    font-family: 'Oxygen', sans-serif;
    color: #ffffffe0;
    letter-spacing: 1px;
    font-weight: 300;
    text-align: center;
}

.contenedor p {
    font-family: 'Oxygen', sans-serif;
    color: #ffffffe0;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    width: 75%;
}


/*pagina proyectos*/
.titulo-proyectos h1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 50px;
    color: #f6f8f9;
    letter-spacing: 5px;
    font-weight: 600;
    padding-top: 60px;
    padding-left: 80px;
    margin-right: 1000px;
    margin-left: 100px;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
}

.row img {
    width: 95%;
}

.bulnes {
    transition: all 300ms;
}

.bulnes:hover {
    transform: scale(1.1);
    background-color: transparent;
}

.martinez {
    transition: all 300ms;
}

.martinez:hover {
    transform: scale(1.1);
    background-color: transparent;
}

.escobar {
    transition: all 300ms;
}

.escobar:hover {
    transform: scale(1.1);
    background-color: transparent;
}

.pilar {
    transition: all 300ms;
}

.pilar:hover {
    transform: scale(1.1);
    background-color: transparent;
}

.nuñez {
    transition: all 300ms;
}

.nuñez:hover {
    transform: scale(1.1);
    background-color: transparent;
}

.pilar {
    transition: all 300ms;
}

.pilar:hover {
    transform: scale(1.1);
    background-color: transparent;
}

.recoleta {
    transition: all 300ms;
}

.recoleta:hover {
    transform: scale(1.1);
    background-color: transparent;
}

/*pagina contacto*/
.grid-contacto {
    padding-left: 100px;
    width: 92%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .6fr .8fr .2fr;
    grid-template-areas:
        "zona-titulo   zona-formulario"
        "zona-titulo    zona-formulario"
        "zona-titulo      zona-mapa";
    /* border: 1px solid rgb(216, 25, 133);*/
}

.zona-titulo {
    grid-area: zona-titulo;
    padding-bottom: 20px;
    background-image: url(../imagenes/imagen_contacto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}

.zona-titulo h1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 50px;
    color: #f6f8f9;
    letter-spacing: 5px;
    font-weight: 600;
    padding-top: 80px;
    padding-left: 80px;
    margin-right: 90px;
}

.zona-titulo ::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000078;
    z-index: -1;
}

.zona-formulario {
    grid-area: zona-formulario;
    padding: 140px 100px;
    border: none;
    /*border: 1px solid #d81919;*/
}

.campo {
    font-family: 'Oxygen', sans-serif;
    font-size: 15px;
    color: #ffffffe0;
    letter-spacing: 1.5px;
    font-weight: 300;
    background-color: #100e0f;
    width: 100%;
    border: none;
    border-bottom: 1px solid hsl(0, 1%, 46%);
    outline: none;
    padding-bottom: 10px;
    padding-top: 50px;
}

.enviar {
    font-family: 'Oxygen', sans-serif;
    font-size: 15px;
    color: #ffffffe0;
    letter-spacing: 1.5px;
    font-weight: 300;
    background-color: #100e0e;
    border: 1px solid hsl(0, 1%, 46%);
    padding: 10px 10px 10px 10px;
    margin: 30px 0px 0px 400px;
    cursor: pointer;
}

.zona-mapa {
    grid-area: zona-mapa;
    padding-left: 100px;
    padding-bottom: 30px;
}



@media screen and (max-width: 768px) {

    /* barra de navegacion "nav"*/
    .navbar-brand img {
        margin-left: -20px;
        width: 100%;
        /*border: 1px solid #3919d8; */
    }

    .navbar-nav {
        align-items: flex-end;
        margin-right: 0px;
        /*border: 1px solid #3919d8; */
    }

    .collapse {
        margin-right: -20px;
    }

    /*pagina index*/
    .slide img {
        height: 80vh;
    }

    /*footer*/
    footer {
        padding-top: 50px;
        margin-right: 0px;
        margin-left: 0px;
        text-align: center;
    }

    .contenedor-footer {
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
    }

    .informacion {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        width: 100%;
        text-align: center;
    }

    .informacion p {
        font-size: 18px;
    }

    .info1 p {
        font-size: 20px;
        padding-bottom: 50px;
    }

    .logo1 {
        padding-left: 0px;
        /*border: 1px solid #d8192f; */
    }

    .linea-footer {
        margin: 0px;
    }

    .barra-rrss {
        justify-content: center;
        padding-right: 0px;
        /*border: 1px solid #d8192f; */
    }

    .redes-sociales {
        display: flex;
        padding-bottom: 30px;
        /*border: 1px solid #d8192f; */
    }

    /*pagina nosotros*/
    .linea-superior {
        margin: 0px;
    }

    .grid {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        align-items: center;
    }

    .box {
        width: 80%;
        align-items: center;
        margin: 0px;
    }

    .box h4 {
        font-size: 18px;
    }

    .box1 h1 {
        padding-top: 60px;
        padding-bottom: 20px;
        margin-left: 90px;
        padding-left: 0px;
        font-size: 40px;
    }

    .box2 {
        padding-left: 0px;
        padding-right: 15px;
    }

    .box2 p {
        font-size: 18px;
    }

    .box4 {
        width: 80%;
        padding-left: 40px;
        padding-bottom: 20px;
        order: 2;
    }

    .box3 {
        width: 80%;
        padding-right: 40px;
        padding-bottom: 20px;
    }

    .box5 {
        width: 0px;
        order: 0;
        margin-left: 0px;
        margin-right: 0px;
    }

    /*pagina servicios*/
    .titulo-servicios {
        padding-bottom: 40px;
    }

    .titulo-servicios h1 {
        font-size: 40px;
    }

    .contenedores {
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        align-items: center;
    }

    /*pagina proyectos*/
    .titulo-proyectos h1 {
        font-size: 40px;
    }

    /*pagina contacto*/
    .grid-contacto {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
    }

    .zona {
        margin: 0px;
        padding: 0px;
    }

    .zona-titulo {
        padding-bottom: 100%;
    }

    .zona-titulo h1 {
        font-size: 40px;
        margin-left: 150px;
        padding-left: 0px;
        margin-right: 200px;
    }

    .zona-formulario {
        padding-left: 80px;
        padding-top: 40px;
        padding-bottom: 90px;
    }

    .campo {
        width: 80%;
    }

    .zona-mapa {
        padding-left: 80px;
        margin: 0px;
    }

    iframe {
        width: 83%;
    }
}



@media screen and (max-width: 500px) {

    /* barra de navegacion "nav"*/
    .navbar-brand img {
        margin-right: 0px;
        padding-left: 0px;
        /*border: 1px solid #3919d8; */
    }

    .navbar-toggler img {
        padding: 0px;
        margin-right: 140px;
        /* border: 1px solid #d8192f; */
    }

    .navbar-nav {
        font-size: 20px;
        /*border: 1px solid #3919d8; */
    }

    /*pagina index*/
    header {
        flex-direction: column;
    }

    .imagen-principal img {
        padding-left: 0px;
    }

    .slide img {
        height: 60vh;
    }

    /*footer*/
    /*pagina nosotros*/
    .box1 h1 {
        margin-left: 0px;
        padding-left: 30px;
    }

    /*pagina servicios*/
    .titulo-servicios h1 {
        margin-left: 0px;
    }

    /*pagina proyectos*/
    .titulo-proyectos h1 {
        margin-left: 0px;
        padding-left: 80px;
    }

    .container {
        width: 80%;
    }

    .row {
        gap: 30px;
    }

    /*pagina contacto*/
    .zona-titulo h1 {
        margin-left: 70px;
        padding-left: 0px;
    }

    .zona-formulario {
        padding-left: 30px;
    }

    .campo {
        width: 95%;
    }

    input.enviar {
        margin: 0px;
        margin-top: 30px;
    }

    .zona-mapa {
        padding-left: 30px;
    }

    iframe {
        width: 90%;
    }
}