.imagen-principal {

    img {
        padding-left: 100px;
    }

    .imagen-principal-texto {
        h1 {
            font-family: $fontNoto;
            letter-spacing: 6px;
            margin-top: -120px;
        }

        p {
            font-family: $fontOxygen;
            letter-spacing: 3px;
        }
    }
}