.linea-superior {
    border-top: $lineaHorizontal;
    margin-right: 100px;
    margin-left: 100px;
}

.titulo-proyectos {
    padding-top: 60px;
    padding-left: 100px;
    margin-right: 90px;
    margin-left: 80px;
    padding-bottom: 5px;

    h1 {
        font-family: $fontNoto;
        font-size: 50px;
        letter-spacing: 5px;
        font-weight: 600;
    }
}

.container {
    padding-left: 10px;
    padding-right: 10px;

    .row {
        img {
            width: 95%;
        }

        .bulnes {
            transition: all 300ms;

            &:hover {
                transform: scale(1.1);
                background-color: transparent;
            }
        }

        .martinez {
            transition: all 300ms;

            &:hover {
                transform: scale(1.1);
                background-color: transparent;
            }
        }

        .escobar {
            transition: all 300ms;

            &:hover {
                transform: scale(1.1);
                background-color: transparent;
            }
        }

        .pilar {
            transition: all 300ms;

            &:hover {
                transform: scale(1.1);
                background-color: transparent;
            }
        }

        .nuñez {
            transition: all 300ms;

            &:hover {
                transform: scale(1.1);
                background-color: transparent;
            }
        }

        .recoleta {
            transition: all 300ms;

            &:hover {
                transform: scale(1.1);
                background-color: transparent;
            }
        }
    }

}