    .imagen-principal {
        background-color: transparent;

        img {
            padding-left: 100px;
        }

        h1 {
            font-family: $fontNoto;
            letter-spacing: 6px;
            margin-top: -120px;
            padding-left: 100px;
            background-color: transparent;
        }

        p {
            font-family: $fontOxygen;
            letter-spacing: 3px;
            padding-left: 100px;
            background-color: transparent;
        }
    }