@media screen and (max-width: 768px) {

    /* header */
    .container-fluid {
        padding-right: 40px;

        .navbar-brand img {
            margin-right: 0px;
            padding-left: 0px;
        }

        .navbar-toggler img {
            padding: 0px;
            margin-right: 40px;
        }

        .navbar-nav {
            font-size: 20px;
        }
    }

    /* index */
    .imagen-principal img {
        padding-left: 0px;

        .slide img {
            height: 60vh;
        }
    }

    .imagen-principal h1 {
        padding: 0px;
        margin-top: 20px;
    }

    .imagen-principal p {
        padding-left: 0px;
    }


    /* footer */
    footer {
        margin-right: 0px;
        margin-left: 0px;
        text-align: center;

        .logo1 {
            padding-left: 0px;
        }

        .contenedor-footer {
            flex-direction: column;
            padding-left: 0px;
            padding-right: 0px;

            .informacion {
                width: 100%;

                p {
                    font-size: 18px;
                    text-align: center;
                }

                &.info1 {
                    p {
                        font-size: 20px;
                        padding-bottom: 50px;
                    }
                }
            }
        }

        .linea-footer {
            margin: 0px;
        }

        .barra-rrss {
            justify-content: center;
            padding-right: 0px;
        }
    }


    .linea-superior {
        margin: 0px;
    }


    /* nosotros */
    .grid {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        align-items: center;

        .box {
            width: 80%;
            align-items: center;
            margin: 0px;

            h4 {
                font-size: 18px;
            }

            &.box1 {
                h1 {
                    margin-left: -60px;
                    font-size: 40px;
                }
            }

            &.box2 {
                padding-left: 0px;
                padding-right: 15px;

                p {
                    font-size: 18px;
                }
            }

            &.box4 {
                width: 80%;
                padding-left: 40px;
                padding-bottom: 20px;
                order: 2;
            }

            &.box3 {
                width: 80%;
                padding-right: 40px;
                padding-bottom: 20px;
            }

            &.box5 {
                max-width: 80%;
                order: 0;
                margin-left: 0px;
                margin-right: 0px;
            }
        }
    }


    @keyframes lineaMovimiento {

        100% {
            width: 77%;
        }
    }



    /* servicios */
    .titulo-servicios {

        h1 {
            margin-left: -100px;
            font-size: 40px;
        }
    }

    .contenedores {
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;

        .contenedor {
            p {
                width: 100%;
            }

            img {
                width: 100%;
            }
        }
    }



    /* proyectos */
    .titulo-proyectos {

        h1 {
            margin-left: -100px;
            font-size: 40px;
        }
    }

    .row {
        display: flex;
        gap: 30px;
        justify-content: center;
        align-content: center;

        .col-md-4 {
            flex-direction: column;
            width: 95%;
            margin-left: 20px;
        }
    }


    /* contacto */
    .grid-contacto {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;

        .zona {
            margin: 0px;
            padding: 0px;
        }

        .zona-titulo {

            h1 {
                padding-bottom: 100%;
                font-size: 40px;
                margin-left: 0px;
                padding-left: 70px;
            }
        }

        .zona-formulario {
            padding-left: 80px;
            padding-top: 40px;
            padding-bottom: 90px;

            .campo {
                width: 80%;
            }

            .enviar {
                margin: 0px;
                margin-top: 20px;
            }
        }

        .zona-mapa {
            padding-left: 80px;
            margin: 0px;

            iframe {
                width: 83%;
            }
        }
    }
}