@media screen and (max-width: 500px) {

    /* header */


    /* index */
    .imagen-principal img {

        .slide img {
            height: 30vh;
        }
    }

    .imagen-principal h1 {
        padding-top: 100px;
    }


    /*footer*/
    .info1 {
        p {
            padding-left: 10px;
            padding-right: 10px;
        }
    }


    /*pagina nosotros*/
   


    /*pagina servicios*/
    .contenedores {
        padding-left: 30px;
        padding-right: 30px;
    }


    /*pagina proyectos*/


    /*pagina contacto*/
    .zona-formulario {
        padding-left: 45px;

        .campo {
            width: 85%;
        }
    }

    .zona-mapa {
        padding-left: 30px;

        iframe {
            width: 85%;
        }
    }
}