@import url('https://fonts.googleapis.com/css2? family= Noto+Sans:wght@100 & display=swap');
$fontNoto: 'Noto Sans JP', sans-serif;

@import url('https://fonts.googleapis.com/css2? family= Oxygen:wght@300 & display=swap');
$fontOxygen: 'Oxygen', sans-serif;

$bodyColor: #100e0e;

$tipografiaColor: #f6f8f9;

$fondoImagenArq: #191919;

$lineaHorizontal: rgba(93, 90, 90, 0.87) solid .5px;